@model WorkoutPlanner.Models.WorkoutPlanCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <h1>Create Workout Plan</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" type="date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RegimenId" class="control-label">Regimen (Optional)</label>
                    <select asp-for="RegimenId" class="form-control" name="RegimenId">
                        <option value="">-- Select a Regimen --</option>
                        @foreach (var regimen in ViewBag.Regimens)
                        {
                            <option value="@regimen.Id">@regimen.Name</option>
                        }
                    </select>
                    <span asp-validation-for="RegimenId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a asp-action="Calendar" class="btn btn-outline-secondary">Back to Calendar</a>
                </div>
            </form>
        </div>
    </div>
    <div><a asp-action="Index">Back to List</a></div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>